.Form_signUP{
   background-color: white;
    width: 30%;
    height: 80vh;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-top: 6%;
   border-radius: 8%;
   
}
.Form_signUP div {
    
    color: black;
    width: 250px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    border: 1px solid white;
    

}

button{
    margin-top: 20%;
    width: 70%;
    height: 10%;
    background-color: #167bff ;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 12%;
}
body{
     background-color:#1c8ef9;
}
span{

   font-size: 18px;
   color: brown;
}
@media screen and (max-width:837px){
    .Form_signUP{
        width: 60%;
    }

}
@media screen and (max-width:413px){

    
    .Form_signUP div{
        width: 100px;
    }

}
